@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Bestätigung Passwort vergessen</PageTitle>

<h1>Bestätigung Passwort vergessen</h1>
<p>
    Bitte Emails checken, um das Passwort zurückzusetzen.
</p>
