@page "/Account/InvalidPasswordReset"

<PageTitle>Passwort zurücksetzen nicht möglich</PageTitle>

<h1>Passwort zurücksetzen nicht möglich</h1>
<p>
    Der Link, um das Passwort zurückzusetzen, ist ungültig. 
</p>
