@page "/Account/Lockout"

<PageTitle>Gesperrter Account</PageTitle>

<header>
    <h1 class="text-danger">Geperrter Account</h1>
    <p class="text-danger">Dieser Account wurde gesperrt. Bitte später nochmals versuchen.</p>
</header>
