@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using VCC_Projekt.Data

@inject UserManager<ApplicationUser> UserManager
@inject EmailSender EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Registrierung abschließen</PageTitle>

<h1>Registrierung abschließen</h1>

<StatusMessage Message="@statusMessage" />

<p>Bitte überprüfe deine E-Mails, um deine E-Mail-Adresse zu bestätigen.</p>

@if(teamname != string.Empty && eventId != 0)
{
    <div class="text-center mt-auto">
        <a href=$"/signup-event-confirmation?teamname={@teamname}&eventId={@eventId}" class="w-50 btn btn-lg btn-success">Bitte hier klicken, um der Gruppe beizutreten!</a>
    </div>
}