@page "/Account/ResetPasswordConfirmation"
<PageTitle>Passwort zurückgetzt</PageTitle>

<h1>Passwort zurückgesetzt</h1>
<p>
    Passwort wurde erfolgreich zurückgesetzt. Bitte <a href="Account/Login">hier klicken, um dich wieder anzumelden</a>.
</p>
