@page "/auth"
@using VCC_Projekt.Data
@inject VCC_Projekt.Data.ApplicationDbContext context
@using Microsoft.AspNetCore.Authorization

 @* @attribute [Authorize(Roles = "Admin,Editor,Benutzer")] *@

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@code{
    protected override void OnInitialized()
    {
        var list = GetTasksByLevel(1);
    }
    public List<Level> GetTasksByLevel(int levelId)
    {
        var result = context.Levels
                    .Where(t => t.LevelID == 7) // Anonymes Objekt
                    .ToList();
        return result;
    }
}
