@page "/eventlogs"
@using VCC_Projekt.Data
@attribute [Authorize(Roles = "Admin")]

<div class="text-center">
    <MudText Typo="Typo.h2" style="color: #134883;">Event Logs</MudText>
    <br />
</div>

<MudGrid Justify="Justify.Center">
    <MudItem xs="10">
        <MudDataGrid T="EventLog"
                     Items="@eventLogs"
                     Dense="true"
                     Hover="true"
                     Bordered="true"
                     Striped="true"
                     SortMode="SortMode.Multiple"
                     Filterable="true"
                     QuickFilter="@_quickFilter"
                     Hideable="true">
            <ToolBarContent>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString"
                              Placeholder="Suchen"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.EventLogID" Title="ID" />
                <PropertyColumn Property="x => x.Tabellenname" Title="Tabellenname" />
                <PropertyColumn Property="x => x.Beschreibung" Title="Beschreibung" />
                <PropertyColumn Property="x => x.Zeit" Title="Zeit" Format="dd.MM.yyyy HH:mm:ss" />
                <PropertyColumn Property="x => x.LogKat.Beschreibung" Title="Kategorie" />
            </Columns>
            <PagerContent>
                <MudDataGridPager T="EventLog" />
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>
