@page "/signup-event-confirmation"

@inject UserManager<ApplicationUser > UserManager
@inject IUserStore<ApplicationUser > UserStore
@inject SignInManager<ApplicationUser > SignInManager
@inject EmailSender EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext dbContext

<PageTitle>Ameldebestätigung</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold" style="color: #134883">Anmeldebestätigung</h1>

        @if (eventId != 0)
        {
            <p>Danke fürs Registrieren zum <strong>@dbContext.Events.Where(e => e.EventID == eventId).Select(e => e.Bezeichnung).FirstOrDefault()</strong>!</p>

            @if (teamname != null)
            {
                <p>Du hast dich als Teil der Gruppe <strong>@teamname</strong> registriert.</p>
            }
        }
        else
        {
            <p>Es gab ein Problem bei der Registrierung. Bitte versuche es erneut.</p>
        }
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        transition: transform 0.2s;
        border: 2px solid #134883;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .btn-success {
        background-color: #134883;
        border-color: #134883;
    }

        .btn-success:hover {
            background-color: #2f5e91;
            border-color: #2f5e91;
        }

    h1, h2, h3 {
        color: #134883;
    }
</style>