@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold" style="color: #134883;">Willkommen!</h1>
        <p class="lead text-muted">
            Herzlich Willkommen beim Coding Contest der HTL Vöcklabruck!
        </p>
    </div>

    <div class="mt-4">
        <h2>Was erwartet dich?</h2>
        <p>
            Der Coding Contest der HTL Vöcklabruck ist eine einzigartige Gelegenheit, dein Programmierkönnen unter Beweis zu stellen,
            spannende Herausforderungen zu meistern und dich mit anderen zu messen.
        </p>
    </div>

    <div class="mt-4">
        <h2 >Highlights:</h2>
        <ul class="list-unstyled">
            <li><strong>Spannende Coding-Challenges</strong> – Zeig dein Können!</li>
            <li><strong>Preise für die Besten</strong> – Gewinne attraktive Preise!</li>
            <li><strong>Networking</strong> – Triff andere Programmierer:innen und tausche dich aus.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>Nächstes Event:</h2>
        <div class="col-md-6 d-flex">
            <div class="card mx-auto" style="flex: 1; border-color: #134883;">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">@dbContext.Events.Where(e => e.Beginn >= DateTime.Now).OrderBy(e => e.Beginn).First().Bezeichnung</h3>
                    <p class="card-text flex-grow-1">
                        <strong>Datum:</strong> @dbContext.Events.Where(e => e.Beginn >= DateTime.Now).OrderBy(e => e.Beginn).Select(e => e.Beginn.ToString("d. MMMM yyyy", new System.Globalization.CultureInfo("de-DE"))).First()<br>
                    </p>
                    <div class="text-center mt-auto">
                        <a href="@GetEventLink(dbContext.Events.Where(e => e.Beginn >= DateTime.Now).OrderBy(e => e.Beginn).First().EventID)" class="w-50 btn btn-lg btn-success">Jetzt anmelden</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="text-center mt-5">
        <div class="text-center mt-auto">
            <a href="info" class="w-25 btn btn-lg btn-success">Mehr erfahren</a>
        </div>
        <p></p>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        transition: transform 0.2s;
        border: 2px solid #134883;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .btn-success {
        background-color: #134883;
        border-color: #134883;
    }

        .btn-success:hover {
            background-color: #2f5e91;
            border-color: #2f5e91;
        }

    h1, h2, h3 {
        color: #134883;
    }
</style>