@page "/info"

<PageTitle>Info</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Vöcklaprogger Coding Contest (VCC)</h1>
        <p class="lead text-muted">
            Der einzigartige Programmierwettbewerb der HTL Vöcklabruck!
        </p>
    </div>

    <div class="mt-4">
        <p>
            Jedes Frühjahr treten Programmierer:innen der Informatikklassen in spannenden, Level-basierten Coding-Challenges gegeneinander an.
            Mit jedem gelösten Level wird es kniffliger – und wer das höchste Level in der kürzesten Zeit erreicht, gewinnt.
            Klingt spannend? Dann meld dich unbedingt zum nächsten Event an!
        </p>
    </div>

    <div class="mt-4">
        <h2>Team oder Einzelspieler: Deine Wahl!</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>#Team</h3>
                <p>
                    Du meisterst Herausforderungen lieber gemeinsam? Kein Problem! Bildet ein Team aus 2 bis 5 Personen und tretet zusammen an.
                    Während des Wettbewerbs kann jedes Teammitglied Lösungen einreichen. Die Teambildung ist ganz einfach –
                    entweder direkt bei der Anmeldung oder auch später noch.
                </p>
            </div>
            <div class="col-md-6">
                <h3>#Single</h3>
                <p>
                    Du bist ein Solo-Champion? Perfekt! Melde dich alleine an und zeig, was du drauf hast. Natürlich kannst du trotzdem
                    deine Freunde herausfordern – gemeinsam teilnehmen, aber unabhängig antreten.
                </p>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h2>Die Spielregeln:</h2>
        <ul>
            <li>Lade deine Lösung(en) für jedes Level hoch.</li>
            <li>Falsche Lösung? Das bedeutet 1 Strafminute.</li>
            <li>Teamregeln: Jedes Teammitglied darf einen Laptop mitbringen und Lösungen für das Team einreichen.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>Noch Fragen?</h2>
        <p>
            Schreib uns gerne an: <a href="mailto:vcc@htlvb.at">vcc@htlvb.at</a>
        </p>
    </div>

    <div class="text-center mt-5">
        <a class="w-100 btn btn-lg btn-primary" href="/Account/Login">Jetzt online anmelden</a>
    </div>
</div>